@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Teko&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    border: none;
}

/* Logo and Nav Bar */
h1, h2 {
    font-family: Teko, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #6A761Aff;
}

#logo {
    font-size: 320%;
    text-align: center;
}

.nav-bar {
    display: block; 
    width: 100%; 
    overflow: auto;
    clear: both;
    overflow-x: hidden;
}

.nav-bar ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

.nav-bar li {
    float: left;
    width: 25%;
}
  
.nav-bar a {
    font-family: Teko, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
    color: #fff;
    display: block;
    padding: 8px;
    background-color: #6A761Aff;
    font-size: 25px;
    text-align: center;
}

#active, a {
    text-decoration: underline;
}

.nav-bar li a:hover {
    color: #000;
}

/* hero image and cta overlay */
#main-image-out {
    height: 400px;
    width: 100%;   
    overflow: hidden;
    position: relative;
    padding-bottom: 25px;
}

#main-image {
    height: 400px;
    width: 100%;
    background: url(../images/hero-image-forest.jpg) no-repeat center center;
}

#call-to-action {
    font-size: 130%;
    text-transform: uppercase;
    font-family: Teko, sans-serif;
    letter-spacing: 4px;
    width: 100%;
    height: 100px;
    padding-top: 20px;
    background-color: rgba(73, 57, 13, 0.7);
    bottom: 150px;
    position: absolute;
    text-align: center;
}

#call-to-action, h2, a {
    color: #fff;
    font-size: 30px;
}

#call-to-action a:hover {
    color: #FDF2C9ff;
}

/* blog links and images */
#blog-header h3 {
    color: #6A761Aff;
    text-align: center;
    font-size: 320%;
    font-family: Teko, sans-serif;
    text-transform: uppercase;
}

#blog-section {
    display: grid;
    padding: 1rem;
    grid-template-columns: 300px 1fr;
    gap: 1rem;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

#blog-section p {
    color: #000;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    text-align: center;
}

#blog-section img {
    max-width: 100%;
    height: auto;
}

#blog-section strong {
    color: #6A761Aff;
    text-align: center;
    text-transform: uppercase;
}

/* about teaser second cta*/
#about-teaser {
    margin: auto;
    width: 75%;
    padding: 10px;
    padding-bottom: 50px;
}

#about-teaser h3 {
    color: #6A761Aff;
    text-align: center;
    font-size: 320%;
    font-family: Teko, sans-serif;
    text-transform: uppercase;
}

#about-teaser p {
    color: #000;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    text-align: center;
}

#about-teaser a {
    color: #000;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    text-align: center;
    color: rgb(61, 68, 15);
}

#about-teaser a:hover {
    color: #6A761Aff;
    font-weight: 700;
}

#second-cta {
    text-decoration: underline;
}

/* podcasts */
#podcasts h3 {
    color: #6A761Aff;
    text-align: center;
    font-size: 320%;
    font-family: Teko, sans-serif;
    text-transform: uppercase;
    padding-top: 25px;
}

#podcasts div {
    display: grid;
    padding: 2rem;
    grid-template-columns: 50% 3fr;
    gap: 1rem;
    align-items: center;
}

/* social media and copyright */
footer {
    background-color: #6A761Aff;
    height: auto;
    position: relative;
    padding-bottom: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    overflow-x: hidden;
} 

.philosophy {
    font-family: Montserrat, sans-serif;
    color: #fff; 
    padding: 7.5px;
} 

.social-networks li {
    float: left;
    width: 25%;
    padding-top: 7.5px;
    list-style-type: none;
}

.social-networks i {
    font-size: 120%;
    color: #fff;
}

.social-networks a {
    text-decoration: none;
}

.social-networks i:hover {
    color: rgba(73, 57, 13, 0.7);
}

#copyright {
    float: right;
    background-color: #6A761Aff;
}

#copyright p {
    font-family: Montserrat, sans-serif;
    color: #fff;
    font-size: 0.85em; 
} 

/*about page*/
#mission-hub {
    text-align: center;
    margin: 20px 0;
}

#mission-hub h3 {
    font-size: 280%;
    text-transform: uppercase;
    font-family: Teko, sans-serif;
    letter-spacing: 4px;
    color: #6A761Aff;
}

#mission-hub h4 {
    font-size: 26px;
    font-family: Montserrat, sans-serif;
    color: #6A761Aff;
}

#mission-hub p {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    text-align: justify;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #6A761Aff;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 80%;
    float: right;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 80%;
    float: left;
    clear: both;
    margin-bottom: 50px;
}

#mission-image {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #fff;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#mission-image-bg {
    background: url('../images/grey-pot-succulent.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/*blog page*/
#blog-page-call-to-action {
    font-size: 130%;
    text-transform: uppercase;
    font-family: Teko, sans-serif;
    letter-spacing: 4px;
    width: 100%;
    height: 100px;
    padding-top: 20px;
    background-color: rgba(73, 57, 13, 0.7);
    bottom: 150px;
    position: absolute;
    text-align: center;
}

#blog-page-call-to-action a:hover {
    color: #FDF2C9ff;
}

.content-area h3 {
    font-size: 280%;
    text-transform: uppercase;
    font-family: Teko, sans-serif;
    letter-spacing: 4px;
    color: #6A761Aff;
    text-align: center;
    padding: 15px;
    display: grid;
    align-items: center;
    max-width: 800px;
}

.content-area h4 {
    font-size: 26px;
    font-family: Montserrat, sans-serif;
    color: #6A761Aff;
    text-align: center;
    padding: 15px;
    display: grid;
    align-items: center;
    max-width: 800px;
}

.content-area h5 {
    font-size: 22px;
    font-family: Montserrat, sans-serif;
    color: #6A761Aff;
    padding: 15px;
    display: grid;
    align-items: center;
    max-width: 800px;
}

.content-area p {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    text-align: justify;
    padding: 15px;
    align-items: center;
    max-width: 800px;
}

.content-area img {
    width: 100%;
}

.content-area ol {
    display: grid;
    align-items: center;
    max-width: 800px;
}    

.content-area ul {
    display: grid;
    align-items: center;
    max-width: 800px;
}   

.content-area ul li{
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    padding: 5px;
    margin-left: 35px;
    list-style-type: disc;
}

.content-area ol li{
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    padding: 5px;
    margin-left: 35px;
}

.content-area a {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    color: #000;
}

.content-area a:hover {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    color: #6A761Aff;
    text-decoration: underline;
}

/* signup form */
#signup-image {   
    height: 703px;
    width: 100%;
    background: url('../images/forest-canopy.jpg') no-repeat center center;
}

.box-form {
    padding: 7.5%;
}

.box-form h2 {
    padding: 25px;
}

.input-form {
    clear: left;
    color: #fff;
    background-color: rgba(73, 57, 13, 0.6);
    text-align: center;
    width: 70%;
    overflow-x: hidden;
    border-radius: 5%;
}

label {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    padding: 5px;
    font-weight: 900;
}

.text-input {
    background: transparent;
    color: #fafafa;
    height: 33px;
    margin: 5px 0 20px 0;
    width: 50%;
    border: 1px solid #fafafa;
    border-radius: 5px;
    text-align: center;
}

.text-input:hover {
    border-color: #6A761Aff;
}

.join-button {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    background-color: #6A761Aff;
    color: #fafafa;
    display: block;
    font-size: 16.5px;
    font-family: Montserrat, sans-serif;
}

.join-button:hover {
    background-color: #fafafa;
    color: #6A761Aff;
}

#lname {
    margin-left: 5px;   
}

#email {
    margin-left: 50px;
}

/* large tablets */
@media (max-width: 770px) {
    #main-image {
    height: 95%;
    width: 100%;
    background: url(../images/hero-image-forest-smaller.jpg) no-repeat center center;
    }

    #left-about {
        padding-top: 5px;
        width: 100%;
    }
    
    #right-about {
        padding-top: 5px;
        width: 100%;
    }

    #center-about {
        width: 100%;
    }
    
    .left-about-heading {
        width: 80%;
        float: none;
    }
    
    .right-about-heading {
        width: 80%;
        float: none;
    }
    
    #mission-image {
        width: 0px;
        height: 0px;
    }

    .input-form {
        width: 90%;
        margin-top: 100px;
    }   
}

/* larger-medium screens media q */
@media (max-width: 650px) {
    #logo {
        font-size: 220%;
    }
    
    .nav-bar a {
        font-size: 20px;
    }

    #call-to-action, h2, a {
        font-size: 26px;
    }

    #blog-header h3 {
        font-size: 180%;
    }

    #blog-section {
        grid-template-columns: 100%;
        width: 90%;
    }

    #blog-section img {
        width: 300px;
        height: 225px;
    }

    #about-teaser {
        width: 95%;
        padding-bottom: 10px;
    }

    #about-teaser h3 {
        font-size: 34px;
    }

    #about-teaser p {
        font-size: 22px;
    }

    #about-teaser a {
        font-size: 22px;
    }

    .content-area h3 {
        letter-spacing: 0px;
        line-height: 90%;
    }

    .content-area h4 {
        font-size: 22px;
    }

    .input-form {
        width: 90%;
        margin-top: 100px;
    }   
}

/* podcast grid special media q */
@media (max-width: 550px) {
    #podcasts div {
        grid-template-columns: 100%;
    }
    #blog-page-call-to-action {
        padding-bottom: 20px;;
    }
}

/* medium screens media q */
@media (max-width: 450px) {
    #main-image {
        height: 95%;
        width: 100%;
        background: url(../images/hero-image-forest-smallest.jpg) no-repeat center center;
    }

    #logo {
        font-size: 180%;
    }
    
    .nav-bar a {
        font-size: 18px;
        padding: 6px;
    }

    #call-to-action, h2, a {
        font-size: 20px;
    }

    #blog-section p {
        font-size: 16px;
    }

    #blog-section img {
        width: 200px;
        height: 150px;
    }
       
    #about-teaser p {
        font-size: 16px;
    }

    #about-teaser a {
        font-size: 16px;
    }

    .philosophy {
        font-size: 16px;
    }

    #copyright p {
        font-size: 0.5em
    }

    #left-about {
        padding-top: 5px;
        width: 100%;
    }
    
    #right-about {
        padding-top: 5px;
        width: 100%;
    }

    #center-about {
        width: 100%;
    }
    
    .left-about-heading {
        width: 80%;
        float: none;
    }
    
    .right-about-heading {
        width: 80%;
        float: none;
    }
    
    #mission-image {
        width: 0px;
        height: 0px;
    }

    #form-header {
        font-size: 26px;
    }

    .input-form {
        width: 90%;
        margin-top: 100px;
    }
}  

/*smaller screens media q */

@media (max-width: 340px) {
    .nav-bar a {
        font-size: 16px;
        padding: 5px;
    }

    #call-to-action, h2, a {
        font-size: 18px;
    }

    #blog-header h3 {
        font-size: 22px;
    }

    .philosophy {
        font-size: 14px;
    }

    .content-area h3 {
        font-size: 22px;
    }
    
    .content-area h4 {
        font-size: 18px;
        letter-spacing: -1px;
    }

    .content-area h5 {
        font-size: 16px;
        letter-spacing: -1px;
        padding: 10px;
    }

    #podcasts h3 {
        font-size: 22px;
    }

    #main-image-out {
        padding-bottom: 10px;
    }

    #blog-page-call-to-action {
        height: 75px;
    }

    #about-teaser h3 {
        font-size: 28px;
    }

    #mission-hub h3 {
        font-size: 26px;
    }

    #mission-hub h4 {
        font-size: 18px;
    }

    #form-header {
        font-size: 22px;
        padding: 10px 0px 10px 0px;
    }

    label {
        font-size: 16px;
    }
    
    .text-input {
        width: 80%;
    }

    #email {
        margin-left: 0px;
    }

    .join-button {
        font-size: 14px;
    }
}