/* Color Pallette
SCSS HEX 
$olive: #6A761Aff;
$army-green: #575E32ff;
$lemon-meringue: #FDF2C9ff;
$field-drab: #624B15ff;
$olive-drab-7: #49390Dff;

SCSS RGB
$olive: rgba(106, 118, 26, 1);
$army-green: rgba(87, 94, 50, 1);
$lemon-meringue: rgba(253, 242, 201, 1);
$field-drab: rgba(98, 75, 21, 1);
$olive-drab-7: rgba(73, 57, 13, 1);

SCSS Gradient
$gradient-top: linear-gradient(0deg, #6A761Aff, #575E32ff, #FDF2C9ff, #624B15ff, #49390Dff);
$gradient-right: linear-gradient(90deg, #6A761Aff, #575E32ff, #FDF2C9ff, #624B15ff, #49390Dff);
$gradient-bottom: linear-gradient(180deg, #6A761Aff, #575E32ff, #FDF2C9ff, #624B15ff, #49390Dff);
$gradient-left: linear-gradient(270deg, #6A761Aff, #575E32ff, #FDF2C9ff, #624B15ff, #49390Dff);
$gradient-top-right: linear-gradient(45deg, #6A761Aff, #575E32ff, #FDF2C9ff, #624B15ff, #49390Dff);
$gradient-bottom-right: linear-gradient(135deg, #6A761Aff, #575E32ff, #FDF2C9ff, #624B15ff, #49390Dff);
$gradient-top-left: linear-gradient(225deg, #6A761Aff, #575E32ff, #FDF2C9ff, #624B15ff, #49390Dff);
$gradient-bottom-left: linear-gradient(315deg, #6A761Aff, #575E32ff, #FDF2C9ff, #624B15ff, #49390Dff);
$gradient-radial: radial-gradient(#6A761Aff, #575E32ff, #FDF2C9ff, #624B15ff, #49390Dff);
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Teko&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    border: none;
    overflow-x: hidden;
}

/* Logo and Nav Bar */
h1, h2 {
    font-family: Teko, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #6A761Aff;
}

#logo {
    font-size: 320%;
    text-align: center;
}

.nav-bar {
    display: block; 
    width: 100%; 
    overflow: auto;
    clear: both;
}

.nav-bar ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

.nav-bar li {
    float: left;
    width: 25%;
}
  
.nav-bar a {
    font-family: Teko, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
    color: #fff;
    display: block;
    padding: 8px;
    background-color: #6A761Aff;
    font-size: 25px;
    text-align: center;
}

#active, a {
    text-decoration: underline;
}

.nav-bar li a:hover {
    color: #000;
}

/* hero image and cta overlay */
#main-image-out {
    height: 400px;
    width: 100%;   
    overflow: hidden;
    position: relative;
    padding-bottom: 25px;
}

#main-image {
    height: 400px;
    width: 100%;
    background: url(/assets/images/hero-image-forest.jpg) no-repeat center center;
}

#call-to-action {
    font-size: 130%;
    text-transform: uppercase;
    font-family: Teko, sans-serif;
    letter-spacing: 4px;
    width: 300px;
    height: 150px;
    padding-top: 20px;
    padding-left: 30px;
    background-color: rgba(73, 57, 13, 0.7);
    bottom: 150px;
    right: 195px;
    position: absolute;
}

#call-to-action, h2, a {
    color: #fff;
    font-size: 30px;
}

#call-to-action a:hover {
    color: #FDF2C9ff;
}

/* blog links and images */
#blog-header h3 {
    color: #6A761Aff;
    text-align: center;
    font-size: 320%;
    font-family: Teko, sans-serif;
    text-transform: uppercase;
}

#blog-section {
    display: grid;
    padding: 2rem;
    grid-template-columns: 300px 1fr;
    gap: 1rem;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
  }

  #blog-section a {
    color: #000;
    text-decoration: none;
    font-style: Montserrat, sans-serif;
    font: 500 100%/1.5 system-ui;
  }

  #blog-section img {
    max-width: 100%;
    height: auto;
  }

/* about teaser second cta*/
#about-teaser {
    margin: auto;
    width: 75%;
    padding: 10px;
    padding-bottom: 50px;
}

#about-teaser h3 {
    color: #6A761Aff;
    text-align: center;
    font-size: 320%;
    font-family: Teko, sans-serif;
    text-transform: uppercase;
}

#about-teaser p {
    color: #000;
    text-decoration: none;
    font-style: Montserrat, sans-serif;
    font: 500 100%/1.5 system-ui;
    text-align: center;
}

#second-cta {
    color: #000;
    text-decoration: none;
    font-style: Montserrat, sans-serif;
    font: 500 100%/1.5 system-ui;
    text-align: center;
}

#about-teaser a:hover {
    color: #6A761Aff;
    text-decoration: underline;
}

/* social media and copyright*/
footer {
    background-color: #6A761Aff;
    height: auto;
    position: relative;
    padding-bottom: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
} 

.philosophy {
    font-family: Montserrat, sans-serif;
    color: #fff; 
    padding: 7.5px;
} 

.social-networks li {
    float: left;
    width: 25%;
    padding-top: 7.5px;
}

.social-networks i {
    font-size: 120%;
    color: #fff;
}

.social-networks a {
    text-decoration: none;
}

.social-networks i:hover {
    color: rgba(73, 57, 13, 0.7);
}

#copyright {
    float: right;
    background-color: #6A761Aff;
}

#copyright p {
    font-family: Montserrat, sans-serif;
    color: #fff;
    font-size: 0.85em; 
} 

/*blog page*/
#blog-page-call-to-action {
    font-size: 130%;
    text-transform: uppercase;
    font-family: Teko, sans-serif;
    letter-spacing: 4px;
    width: 100%;
    height: 100px;
    padding-top: 20px;
    background-color: rgba(73, 57, 13, 0.7);
    bottom: 150px;
    position: absolute;
    text-align: center;
}

#blog-page-call-to-action a:hover {
    color: #FDF2C9ff;
}

/* signup form */
#signup-image {   
    height: 703px;
    width: 100%;
    background: url(/assets/images/forest-canopy.jpg) no-repeat center center;
}

.box-form {
    padding: 12.5% 10% 10% 12.5%;
}

.box-form h2 {
    padding: 25px;
}

.input-form {
    clear: left;
    color: #fff;
    background-color: rgba(73, 57, 13, 0.6);
    text-align: center;
}

.text-input {
    background: transparent;
    color: #fafafa;
    height: 33px;
    margin: 5px 0 20px 0;
    width: 50%;
    border: 1px solid #fafafa;
    border-radius: 5px;
    text-align: center;
    clear: auto 0;
}

.text-input:hover {
    border-color: #6A761Aff;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #6A761Aff;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #6A761Aff;
}

/* media q*/
@media (max-width: 650px) {
    #blog-section body {
      display: block;
      font-size: 80%;
    }
    #blog-section a {
      position: relative;
      margin: -3rem 0 2rem 1rem;
      padding: 1rem;
    }
}